body {
  /* background: #BFDFED; */
  background: #88bff1;
  text-align: center;
  margin: auto;
  padding: auto;
  font-size: 16px;
}

.line {
  width: auto;
  border-bottom: 3px solid #A3B096;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  margin: 10px;
  padding: 10px;
}

.fire {
  position: relative;
  text-align: center;
  color: black;
}

.head1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firehead {
  width: 100%;
  opacity: 70%;
}


h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  padding: 10px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}


ul {
  margin: 10px;
  padding: 10px;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}

#menu_nav {
  background-color: #A3B096;
  margin: 0px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#menu_trigger {
  display: none;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  color: black;
}

a:hover {
  color: #BFDFED;
}

#text {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align:left
}

.photo {
    border: 0;
    margin: 35px;
    width: 75%;
    min-width: 200px;
    max-width: 400px;
}

.photo:hover {
  opacity: 40%;
}

#wrapper {
  padding:0px;
  width: 820px;
  height: auto;
  margin: auto;
  overflow: hidden;
}


@media screen and (max-width: 599px) {

  h1 {
    font-size: 2em;
  }

  p {
    font-size: .75em;
  }

  a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: black;
    margin: 10px;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
  }

  #menu_nav {
    display: none;
    flex-direction: column;
  }
}

@media screen and (min-width:600px) {

  p {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 60px;
    text-align: left;
  }

  ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }

  li {
    margin: 10px;
    padding: 0px;
  }

  .nav {
    /* background-color: #A3B096; */
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: black;
  }
}
