body {
  background: #A7CFF2;
  text-align: center;
  margin: auto;
  padding: auto;
  font-size: 16px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  padding: 10px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  margin-top: 40px;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 600px;
  text-align: left;
}

#menu_nav {
  background-color: #A3B096;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#menu_trigger {
  display: none;
}

.fire {
  position: relative;
  text-align: center;
}

.head1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firehead {
  width: 60%;
  opacity: 60%;
}

a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  color: black;
}

a:hover {
  color: #CF4B2B;
}

.home:hover {
  color: black;
}

.firetower {
  background-image: url("images/firetower.JPG");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.osborne {
  background-image: url("images/osborne1.JPG");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo {
  border: 10px solid #E88A76;
  margin: 20px;
  max-width: 650px;
  margin-bottom: 20px;
}

#button_previous {
  background-color: #0E5899;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: white;
  margin-right: 75px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#button_previous:hover {
  opacity: 70%;
  cursor: pointer;
}

#button_next {
  background-color: #0E5899;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: white;
  margin-left: 75px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#button_next:hover {
  opacity: 70%;
  cursor: pointer;
}

figcaption {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}

#graphicscontainer {
  margin-left: 10px;
  margin-right: 10px;
}

.tab {
  background-color: #A3B096;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1em;
}

.tab button:hover {
  color: #CF4B2B;
}

.tablinks {
  font-family: 'Lato', sans-serif;
}

.tab button.active {
  color: #CF4B2B;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

footer {
  font-family: 'Lato', sans-serif;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #A3B096;
  font-weight: bold;
}

@media screen and (max-width: 950px) {

  h1 {
    font-size: 1.5em;
  }

}

@media screen and (max-width: 699px) {

  h1 {
    font-size: 1.5em;
  }

  .photo {
    max-width: 400px;;
  }

}

@media screen and (max-width: 599px) {

  h1 {
    font-size: 1.25em;
    margin-left: 0px;
    margin-right: 0px;
  }

  h2 {
    margin: 10px;
    margin-top: 30px;
  }

  h3 {
    margin: 10px;
    margin-top: 40px;
  }

  p {
    margin: 5px;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    width: 30px;
    height: 30px;
  }

  #menu_trigger:hover {
    cursor: pointer;
  }

  #menu_nav {
    display: none;
    flex-direction: column;
  }

  .line {
    width: auto;
    border-bottom: 10px solid #A3B096;

  }

  .firetower {
    background-attachment: scroll;
    max-height: 100px;
  }

  .osborne {
    background-attachment: scroll;
    max-height: 100px;
  }

}
