body {
  /* background: #BFDFED; */
  background: #88bff1;
  text-align: center;
  margin: auto;
  padding: auto;
  font-size: 16px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  padding: 10px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}

ul {
  margin: 10px;
  padding: 10px;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  max-width: 600px;
  text-align: left;
}

#menu_nav {
  background-color: #A3B096;
  margin: 0px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#menu_trigger {
  display: none;
}

.fire {
  position: relative;
  text-align: center;
}

.head1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firehead {
  width: 100%;
  opacity: 70%;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  color: black;
}

a:hover {
  color: #88bff1;
}

.photo {
  border: 0;
  margin: 20px;
  width: 75%;
  min-width: 200px;
  max-width: 400px;
}

.photo:hover {
  opacity: 40%;
}

#photocontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.graphic {
  border: 0;
  margin: 35px;
  width: 75%;
  min-width: 200px;
  max-width: 400px;
}

.captionoverlay {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-family: 'Playfair Display', serif;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #A3B096;
}

@media screen and (min-width:600px) {

  a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: black;
  }
}

@media screen and (max-width: 599px) {

  h1 {
    font-size: 2em;
  }

  p {
    margin: 20px;
  }

  .nav {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
  }

  #menu_nav {
    display: none;
    flex-direction: column;
  }
}
